#textAnimation{
    word-spacing: 30px;
    font: italic bold 30px/30px Georgia, serif;
    color:white;
    opacity: .6;
    text-align: center;
    position: relative;
    left:30px;
    height: 20%;
    bottom:120px;
    animation-name: text;
    animation animation-duration: 5s;
    animation-fill-mode: forwards;
}
#pic{
    height:190px;
    width:290px;
    position: relative;
    bottom:-230;
    border:6px solid white;
    border-radius: 4px;
    
    text-align: center;
}
@keyframes text {
    from{
        right:50px; opacity: 0;
    }
    
    to{
        left: 10px; opacity: 1;
    }
}

.panel{
    position: absolute;
    bottom:-290;
    width:60%;
    height:40%;
    left:20%;
    z-index: 2 !important;
    display: block !important;
    margin-top: 40px !important;
}

body{
    height:120%;
}

footer{
    bottom:-20%
}

