
body {

	background: linear-gradient(180deg,black,gray,lightgray);
}
#canvas {
    display: block;
    position: absolute !important;
    z-index: -1; /*it put its to the back of everything*/
    width: 100%;
    height:100%;
}

