a{
    text-decoration: none !important;
}

li{
    align-content: center;
    width: 50% !important;
    margin-left: 26%;
    animation-name: items;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    font-size: 17px !important;
}

#canvas_2{
    display: block;
    position: absolute !important;
    z-index: 1;
    height:40%;
    bottom:-50%;
    
    animation-name: snowMan;
    animation-duration: 6s;
    animation-fill-mode:forwards;
}

@keyframes items{
    from{
        bottom:-200px; opacity:0
    }
    to{ 
        bottom: 0px; opacity:1
    }
    
}

@keyframes snowMan{
    from{
        bottom:0; opacity: 0;
    }
    to{
        bottom: -20px; opacity:1;
    }
}

#textAnimation{
    word-spacing: 5px;
    font-size: 20px;
    font-style: italic;
    text-align: center;
    position: absolute;
    left:50px;   
    bottom:-180px;
}


#textAnimation2{
    word-spacing: 5px;
    font-size: 20px;
    font-style: italic;
    text-align: center;
    position: absolute;
    left:400px;   
    bottom:-180px;
}

footer{
    bottom:-45 !important;
    width: 102%;
}
