#textAnimation{
    word-spacing: 70px;
    font: italic bold 30px/30px Georgia, serif;
    text-align: center;
    position: relative;
    bottom:-150px;
}



/* css for the links in the front page*/
.links{
    
    text-decoration:none;
    margin-left: 50px;
}

@keyframes subPages{
    from{
        left:-100px; opacity:0
    }
    to{ 
        left: 350px; opacity:1
    }
    
}


.subPages{
    position:relative;
    text-align: left;
    bottom:-300px;
    animation-name: subPages;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    width:60%
}
.links:link, .links:visited {
    background-color:rgba(0,0,0,0);
    border:solid 2px;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


.links:hover, .links:active {
    background-color: black;
}
