#res{
    text-align: left;
}

p{
    text-align: center;
    
}

*{
    zoom:98%;
}

.row{
    background-color: white;
    width:80%;
    height:auto;
    margin-left: 11%;
    border:4px solid;
    border-color: lightgrey;
    
}
body{
    position: relative;
}


img{
    
    height:100px;
    width:100px;
    margin-left: 5px;
    border: 2px solid black;
    
}

footer{
    text-align: right !important;
}
