/*This is soley the css for the nav bar and it would be used in every webpage create for the web
    For the purpose of navigation */


body {
    font-family: "Lato", sans-serif;
    zoom:90%;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.logo{
    display: inline-block;
    width:20px;
    height:20px;

    
}

.navbar-brand{
    
    padding-top:0px !important;
    text-decoration:none !important;
    color:white !important;   
    font: italic bold 27px/27px Georgia, serif !important;
    
}


.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.links a:hover, .offcanvas a:focus{
    color: black;
    background-color: white;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}



#main {
    transition: margin-left .5s;
    padding: 16px;

        
}

@media screen and (max-height: 450px) {
  .sidenav {
      padding-top: 10px;
    }
  .sidenav a {
      font-size: 5px;
    }
}


.navBtn{
    display: inline-block;
    font-size:20px;
    color:white;
    cursor:pointer;
}

h1{
    padding-left: 30px !important;
    font: italic bold 40px/40px Georgia, serif !important;
    color:white !important;
}

footer {   
  position: absolute;
  right: 0;
  bottom:0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
  margin-top:-180;
     
    
}